/* Novas Alterações */
body {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 8px;
  font-family: poppinsregular;
}
.page{
  width: 1255px;
  margin: 30px auto 0px;
}
nav{
   display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
ul {
  display: flex;
  gap: 55px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 109, 5);
  transition: 0.5ms all;
}
main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#btnnav-cadastro{
  border: 2px solid rgb(255, 109, 5);
  padding: 10px;
  border-radius: 15px;
  border-right: 2px;
  border-left: 2px;
  border-width: 2px;
}
#btnnav-cadastro:hover{
  background-color: rgb(255, 109, 5);
  color: white;
  transition: 0.5ms all;
}

/*antigos codigos para baixo*/
h2 {
  font-size: 40px;
  line-height: 10px;
  font-family: poppinsbold;
}

span {
  color: rgb(255, 109, 5);
}

#logomarca {
  width: 650px;
}

p {
  line-height: 20px;
  max-width: 500px;
  font-family: poppinslight;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"] {
  height: 45px;
  width: 150px;
  background-color: rgb(255, 109, 5);
  color: white;
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
}

input,
textarea {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
}

textarea {
  padding-bottom: 50%;
}

:-moz-placeholder {
  font-family: Arial;
}

footer {
  background-color: rgb(33, 31, 31);
  text-align: center;
}

.prototipo {
  width: 180px;
  height: 300px;
}

#telas {
  display: flex;
}

#logoinsta {
  width: 32px;
  height: 32px;
}
