/* Novas Alterações */
body {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 8px;
  font-family: poppinsregular;
}

header {
  display: block;
  margin: 30px;
 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 55px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 109, 5);
  transition: 0.5ms;
}

main {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 0px;
  padding-top: 50px;
  
}
h2{
  display: flex;
  flex-direction: column;
  gap:35px;
}


.img-sobre{
  padding-right: 100px;
}


#btnnav-cadastro {
  border: 2px solid rgb(255, 109, 5);
  padding: 10px;
  border-radius: 15px;
  border-right: 2px;
  border-left: 2px;
  border-width: 2px;
}
.btn {
  
  color: white;
  background: none;
  border: 2px solid rgb(255, 109, 5);
  padding: 10px;
  border-radius: 15px;
  border-right: 2px;
  border-left: 2px;
  border-width: 2px;
}

.btn:hover {
  font-weight: bolder;
  background-color: rgb(255, 109, 5);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

#btnnav-cadastro:hover {
  background-color: rgb(255, 109, 5);
  color: white;
  
}

/*antigos codigos para baixo*/
h2 {
  font-size: 40px;
  line-height: 10px;
  font-family: poppinsbold;
}

span {
  color: rgb(255, 109, 5);
}

#logomarca {
  width: 650px;
}

p {
  line-height: 20px;
  max-width: 500px;
  font-family: poppinslight;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"] {
  height: 45px;
  width: 150px;
  background-color: rgb(255, 109, 5);
  color: white;
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
}

input,
textarea {
  padding-top: 0;
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
}

textarea {
  padding-bottom: 40%;
}

:-moz-placeholder {
  font-family: Arial;
}

#footer {
  text-align: center;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 20px;
  position: fixed;
  width: 100%;
}

.prototipo {
  width: 180px;
  height: 300px;
}

#telas {
  display: flex;
}

#logoinsta {
  width: 32px;
  height: 32px;
}
